@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #463B33;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    font-family: 'PT Serif', serif;

    padding: 50px;
}

h1, p, button {
    color: #f5f5f5;
}

img {
    margin: 80px 0 40px 0;
}

/* Table */

form {
    background-color: #f5f5f5;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0 #D8D7D6;

    display: flex;
    flex-direction: column;
    text-align: left;

    margin: 0 auto 50px auto;
    padding: 20px;
    width: 300px;
}

input {
    background-color: #D8D7D6;
    border: none;
    border-radius: 5px;

    height: 50px;
}

input:focus {
    outline: 2px solid #281E18;
}

label {
    padding: 10px 0;
}

form button {
    background-color: #281E18;
    border: none;
    border-radius: 5px;
    color: #f5f5f5;

    margin: 20px 0;
    height: 50px;
    width: 100%;

    transition: all 100ms;
}
form button:hover:enabled {
    background-color: #41352e;
}

form a {
    color: #281E18;

    transition: all 100ms;
}
form a:hover {
    font-weight: 900;
}